<html>
    <body>
        <h1>Reservation Confirmation</h1>
        <p>Hi {{ profile.user.username }},</p>
        <p>You have successfully reserved a spot for the event: <strong>{{ event.name }}</strong>.</p>
        <p>Event Details:</p>
        <ul>
            {% if event.description %}
            <li><strong>Description:</strong> {{ event.description }}</li>
            {% endif %}
            <li><strong>Location:</strong> {{ event.location }}</li>
            <li><strong>Date:</strong> {{ event.date }}</li>
            {% if event.food_types %}
            <li><strong>Food Type:</strong> {{ event.get_food_types_display }}</li>
            {% endif %}
            {% if event.allergies %}
            <li><strong>Allergies:</strong> {{ event.get_allergies_display }}</li>
            {% endif %}
        </ul>

        <h2>Your QR Code:</h2>
        <p><img src="cid:qr_code" alt="QR Code" style="max-width: 300px; height: auto;"></p>

        <p>Thank you for reserving a spot!</p>
        <p>Show this QR code upon arrival to redeem your food!</p>
    </body>
</html>
